  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
  @keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
  @keyframes fadeOut{
    100%{opacity: 1;}
    0%{opacity: 0;}
  }
  @keyframes altcolors{
    0%{
        color: #555;
    }
    25%{
        color: gray;
    }
    50%{
        color: dimgray;
    }
    75%{
        color: darkslategray;
    }
    100%{
        color: #555;
    }

  }
::-webkit-scrollbar{
    background: transparent;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: rgb(88, 84, 84);
    border-radius: 60px;
}
::-webkit-scrollbar:hover{
    width: 7px;
}
::-webkit-input-placeholder{
    color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}
.header{
    min-height: 100vh;
    width: 100%;
    background: url(homepage-concept-with-search-bar.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
} 
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
    /* overflow-y: hidden; */
}
nav h1{
    font-size: 20pt;
    color: black;
}
nav div{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* #searchForm{
    border: 2px solid black;
    height: 50px;
    width: 360px;
    cursor: pointer;
} */
/*#searchForm input{
    margin: none;
    border: none;
    border-right: 1px solid black;
    height: 100%;
    width: 300px;
    border-radius: none;
}
#searchForm button{
    width: 51.5px;
    cursor: pointer;
    height: 38px;
    background: transparent;
    border: none;
}*/
/*#searchForm button .bi{
    cursor: pointer;
    font-size: 25px;
    width: 100%;
}*/
.search-box{
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    /* padding: 8px 15px; */
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    /* background: gray; */
    border-radius: 4rem;
    margin-right: 1rem;
    color: black;
    caret-color: black;
}
.search-box ::-webkit-input-placeholder{
    color: black;
}
.search-box input{
    height: 40px;
    background: transparent;
    border: none;
    border-radius: 4rem;
    padding: 5px;
    color: black;
    outline: none;
    padding: 2%;
    z-index: 0;
    border: 1px solid #555;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.search-box .bi{
    font-size: 1.1rem;
    cursor: pointer;
    transition: 2s;
}
.search-box .bi:hover{
    transform: scale(1.5);
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;   
    cursor: pointer;
}
nav ul li a{
    font-size: 20pt;
    color: black;
    text-decoration: none;
}
.sub-menu-1{
    display: none;
}
.quant{
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 31px;
    left: 92.4%;
    height: 15px;
    width: 15px;
    /* padding: 5px 5px; */
    font-size: 7pt;
    text-align: center;
    font-style: normal;
}
.login{
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: -100vh;
    right: 0;
    /* text-align: center; */
    z-index: 100;
    background: url(laptop-with-blank-black-screen-white-table.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.9s;
}
.login .bi{
    font-size: 22pt;
    float: right;
    cursor: pointer;
    color: #fff;
    margin: 10px;
}
.login .bi:hover{
    transform: scale(1.1);
}
.login-cont h1{
    margin-top: 3%;
    color: #fff;
    font-size: 30pt;
    text-align: center;
    /* text-decoration: underline; */
}
.login-cont h1::after{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: white;
    /* display: block; */
    content: '..';
    /* font-size: 60px; */
    line-height: 5px;
    /* line-height: 0px; */
    height: 2px;
    /* margin: 5px auto; */
    width: 100%;
}
.login-cont h1 :hover ::after{
    width: 0;
}
.login-form{
    background-color: transparent;
    /* opacity: .1s; */
    width: 35%;
    position: absolute;
    left: 31.5%;
    top: 20%;
    height: 500px;
    border-radius: 15px;
    backdrop-filter: blur(35px);
    border: 2px solid gray;
}
.login-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form form .bi{
    float: left;
}
.login-form form input{
    width: 350px;
    height: 50px;
    font-size: 20px;
    backdrop-filter: blur(3px);
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 0 30px 0 10px;
    outline: none;
}
.login-form form button{
    cursor: pointer;
    margin-top: 30px;
    padding: 20px 45px;
    width: 50%;
    background-color: white;
    border-radius: 40px;
    border: none;
    transition: ease-in-out .5s;
}
.login-form form button:hover{
    width: 100%;
}
/* Chidozie start from here */
.cart{  
    display: block;
    position: absolute;
    height: 100vh;
    width: 350px;
    top: 0;
    right: -350px;
    z-index: 100;
    background: white;
    transition: 0.9s;
    overflow-y: scroll;
    border: 1px solid grey;

}
.cart .bi{
    font-size: 22pt;
    float: right;
    cursor: pointer;
}
.cart button{
    /* margin: 20px; */
    padding: 10px 25px;
    width: 90%;
    /* margin-left: 25px; */
    cursor: pointer;
    /* background-color: black; */
    color: white;
    border: 1px solid white;
}
.cart h1{
    text-align: center;
    font-weight: 600;
    margin-top: 2rem;
}
.cart-content{
    width: 100%;
    transition: transform 0.3s ease-in-out;
}
.cart-box{
    width: 100%;
    height: auto;
}
.cart-box img{
    margin: 4%;
    width: 50px;
    height: 50px;
    float: left;
}
/* Ends Here */
.text-box{
    position: absolute;
    top: 30%;
    width: 50%;
    /* color: #fff; */
    text-align: center;
    /* height: 90%; */
    color: white;
}
.slides{
    position: absolute;
    top: 30%;
    /* width: 50%; */
    left: 60%;
    overflow-x: hidden;
    text-align: center;
    color: white;    
}
.text-box h1{
    /* margin-top: 140px; */
    font-size: 45px;
    animation: fadeIn 3s;
    animation: fadeOut 3s;
    animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    /* color: white; */
}
.hero-sect{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    height: 89vh;
    background-color: white;
}
.hero-sect h1{
    color: rgb(68, 22, 110);
    font-size: 40pt;
    text-align: left;
}
.cards-cont{
    display: flex;
    height: 450px;
    /* grid-template-columns: 30% 30% 30%; */
    gap: 3rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(207, 203, 203);
    padding: 50px 0;
    border-radius: 30px;
}
.cart-cont input{
    float: right;
    width: 30%;
    border: none;
    text-align: right;
    padding: 0;
    border-radius: 30px;
    color: rgb(221, 43, 43);
    font-size: 15px;
    margin-left: 215px;
    height: 20px;
}
.cart-cont input :placeholder-shown{
    font-size: 10px;
}
.cards{
    box-shadow: 0 1px 4px hsl(0, 2%, 25%);
    border-radius: 30px;
    border: 1px solid black;
    width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    /* justify-content: center; */
    padding: 3%;
}
.prev-btn{
    border-radius: 100%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid black;
}
.next-btn{
    cursor: pointer;
    font-size: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid black;
}
.cards img{
    margin-top: 20px;
    width: 200px;
    height: 200px;
}
.cards h5{
    color: black;
    margin-top: 20px;
    text-align: center;
}
.cards p{
    color: gray;
}
.cards button{
    padding: 5px 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(221, 43, 43);
    color: #eaeaea;
}
.cards button .bi{
    font-size: 15pt;
}
/* Login Page */
.login{
    display: block;
}
.WE h1{
    color: white;
    text-align: right;

}
.be .bi{
    margin-right: 15px;
}
.as{
    margin-top: 55%;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn button{
    flex-basis: 48%;
    background: rgba(32, 32, 30, 0.9);
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: 1s;
    margin: 15px;
}
.btn button.disable{
    background: #eaeaea;
    color: #555;
}
form p{
    text-align: center;
}
form p a{
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 12px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-size: 12pt;
    transition: 1s;
}
form p a:hover{
    border: 1px solid rgba(32, 32, 30, 0.9);
    background: rgba(32, 32, 30, 0.9);
    border: 1px solid white;
    color: #fff;
}
/* Footer */
.footer .box-container{
    margin-top: 50px;
    background: linear-gradient(rgba(32, 32, 30, 0.9),rgba(32, 32, 30, 0.9)), url(igbo.jpg);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
}
.footer .box-container .box{
    /* margin-top: 25px; */
    border-right: 5px solid white;
}
.footer .box-container .box h3{
    margin-top: 25px;
    /* text-align: center; */
    color: white;
    font-size: 20px;
    /* padding: 1rem 0; */
    /* border-right: 1px solid white; */
}
.footer .box-container .box a{
    text-decoration: none;
    display: block;
    font-size: 15px;
    color: white;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}
.box a:hover{
    margin-left: 30px;
}
/* .box a::after{
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: .5s;
} */
.box a:hover:after{
    width: 100%;
}
.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    /* margin-top: 2rem; */
    /* text-align: center; */
    font-size: 25px;
    /* border-top: 1px solid black; */
}
.footer .credit span{
    color: #555;
    -webkit-text-stroke: 1px #555;
    animation: altcolors 3s;
    animation-iteration-count: infinite;
}
.box a .bi{
    margin-right: 10px;
}
.cart-cont{
    /* background-color: #eaeaea; */
    /* box-shadow: 0 1px 4px hsl(0, 2%, 25%); */
    width: 85%;
    margin-left: 40px;
    display: none;
}
.box h3:hover{
    margin-left: 100px;
    transition: ease-in-out 1s;
}
.cart-cont img{
    position: absolute;
    left: 4px;
    /* margin-top: 30px; */
    width: 40px;
    height: 40px;
    /* margin-right: 13px; */
}
.card h5{
    text-align: center;
}
.cart-details-2{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cart-details-2 h4{
    width: 100%;
    text-align: right;
    /* margin-right: 65px; */
    
    /* float: right; */
}
.cart-details-2 p{
    /* margin-right: 65px; */
    width: 100%;
    text-align: right;
    color: grey;
}
.cart-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.clear-btn,
.close-btn
{
    background: rgb(221, 43, 43);
    margin: 30px 0 0 0;
}
.check{
    display: flex;
    padding: 0 20px;
    gap: 1rem;
    margin-left: 4px;
}
.check-btn{
    background: black;
    margin: 5px;
    margin-left: 10px;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--container-color);
    padding: 8px 14px;
    border: 1px solid hsl(200, 100%, 99% / 5%);
    margin-bottom: 2rem;
}
.swiper-btn{
    display: flex;
}
.swiper-button-next,
.swiper-button-prev{
    position: static !important;
    margin: 0 0 0 15px !important;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    color: black;
    font-size: 25px !important;
    font-weight: 700;
}
.cards-conts{
    overflow-y: scroll;
}
.pay{
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    right: -100%;
    /* text-align: center; */
    z-index: 100;
    background: /*linear-gradient(rgba(249, 246, 246, 0.8), rgba(249, 246, 246, 0.8))*/ url(focused-young-man-paying-bill-store.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.9s;
    /* backdrop-filter: blur(35px); */
    /* background-color: black; */
}
.pay h1{
    color: #fff;
    text-align: center;
    margin-top: 30px;
    font-size: 40pt;
}
.pay-init{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.pay-init form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    backdrop-filter: blur(35px);
    height: 500px;
    width: 40%;
    border: 1px solid white;
    gap: 35px;
}
.pay-init form input{
    width: 80%;
    padding: 0 35px 0 15px;
    background: transparent;
    backdrop-filter: blur(1px);
    height: 50px;
    border: 1px solid white;
    color: #fff;
    font-size: 20px;
    outline: none;
}
.pay-init form button{
    border: 1px solid white;
    backdrop-filter: blur(35px);
    background: transparent;
    padding: 15px 30px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: ease-out 0.5s;
}
.pay-init form button:hover{
    background: black;
    width: 90%;
    border: none;
}
.thanks{
    background: url(laptop-with-blank-black-screen-white-table.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    position: absolute;
    top: 0;
    width: 100%;
    /* left: -100%; */
    /* z-index: 1000; */
}
.thanks h4{
    font-size: 20px;
    font-weight: 500;
}
.thanks h4 span{
    margin-left: 100px;
    font-size: 15px;
    font: 300;
    color: #555;
}
.thanks button{
    padding: 1% 3%;
    width: 15%;
    border-radius: 10px;
    border: none;
}
.thanks button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    width: 30%;
    transition: ease-in-out 0.9s;
}
button{
    transition: all 0.2s ease;
}
button:active{
    transform: scale(0.96);
}
/* responsive */
@media (max-width:540px) {
    nav{
        width: 100%;
        height: 150px;
    }
    nav h1{
        font-size: 10pt;
        color: black;
    }
    .quant{
        position: absolute;
        top: 53px;
        right: 50px;
    }
    .header{
        /* min-height: ; */
        width: 100%;
        background: url(view-neon-illuminated-gaming-desk-setup-with-keyboard.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
    }     
    .cards-cont{
        display: flex;
        flex-direction: column;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .header{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
}